{% extends 'base.html' %}
{% block content %}
{% block title %} Book Appointment{% endblock %}

<h1>Appointments</h1>

<form action="{% url 'appointment_create' %}" method="POST">
    {% csrf_token %}

    <div>
        <input
            class="input"
            type="text"
            name="name"
            placeholder="Name"
            required
        />
    </div>
    <div>
        <input
            class="input"
            type="text"
            name="email"
            placeholder="Email"
            required
        />
    </div>
    <div>
        <input
            class="input"
            type="text"
            name="number"
            placeholder="Number"
            required
        />
    </div>
    <div>
        <input type="submit" value="Confirm Appointment" />
    </div>

</form>


{% endblock %} 