{% extends 'base.html' %}
{% block content %}
{% block title %} Book Appointment{% endblock %}

<h1>Appointments</h1>

<form action="{% url 'appointment_create' %}" method="POST">
    {% csrf_token %}

    <div>
        <label>Name
            <input
                class="input"
                type="text"
                name="name"
                required
            />
        </label>
    </div>
    <div>
        <label>Email
            <input
                class="input"
                type="text"
                name="email"
                required
            />
        </label>
    </div>
    <div>
        <label>Phone Number
            <input
                class="input"
                type="text"
                name="number"
                required
            />
        </label>
    </div>
    <div>
        <label>Date
            <input
                id="datefield"
                class="input"
                type="date"
                name="date"
                min="2050-01-01"
                onfocus="this.min=new Date().toISOString().split('T')[0]"
                required
            />
        </label>
    </div>
    <div>
        <input type="submit" value="Confirm Appointment" />
    </div>

</form>


{% endblock %} 