{% extends 'base.html' %}
{% block content %}
{% block title %} Book Appointment{% endblock %}

<h1>Make an Appointment</h1>

<form action="{% url 'appointment_create' %}" method="POST">
    {% csrf_token %}

    <div>
        <label>First Name
            <input
                class="input"
                type="text"
                name="fname"
                required
            />
        </label>
    </div>
    <div>
        <label>Last Name
            <input
                class="input"
                type="text"
                name="lname"
                required
            />
        </label>
    </div>
    <div>
        <label>Service
            <select name = "service" size="1">
                <option value="Perfect Days">Perfect Days</option>
                <option value="Royal Stone">Royal Stone</option>
                <option value="Classic Treatment">Classic Treatment</option>
                <option value="Growth Factor Facial">Growth Factor Facial</option>
                <option value="vitamin C">Vitamin C</option>
                <option value="Diamond Brightening facial">Diamond Brightening Facial</option>
                <option value="Power Glo Facial">Power Glo Facial</option>
                <option value="Pink Himalayan Salt Stone massage">Pink Himalayan Salt Stone Massage</option>
                <option value="Prenatal Massage">Prenatal Massage'</option>
                <option value="Reflexology">Reflexology</option>
                <option value="Deep Tissue assage">Deep Tissue Massage</option>
        </select>
    </div>
    <div>
        <label>Email
            <input
                class="input"
                type="text"
                name="email"
                required
            />
        </label>
    </div>
    <div>
        <label>Phone Number
            <input
                class="input"
                type="text"
                name="number"
                required
            />
        </label>
    </div>
    <div>
        <label>Date
            <input
                id="datefield"
                class="input"
                type="date"
                name="date"
                min="2050-01-01"
                onfocus="this.min=new Date().toISOString().split('T')[0]"
                required
            />
        </label>
    </div>
    <div>
        <label>Time
            <select name = "time" size="1">
                <option value="9:30am">9:30am</option>
                <option value="10:00am">10:00am</option>
                <option value="10:30am">10:30am</option>
                <option value="11:00am">11:00am</option>
                <option value="11:30am">11:30am</option>
                <option value="12:00pm">12:00pm</option>
                <option value="12:30pm">12:30pm</option>
                <option value="1:00pm">1:00pm</option>
                <option value="1:30pm">1:30pm</option>
                <option value="2:00pm">2:00pm</option>
                <option value="2:30pm">2:30pm</option>
                <option value="3:00pm">3:00pm</option>
                <option value="3:30pm">3:30pm</option>
                <option value="4:00pm">4:00pm</option>
        </select>
    </div>
   
    <div>
        <input type="submit" value="Confirm Appointment" />
    </div>

</form>


{% endblock %} 