{% extends 'base.html' %}
{% block title %} Confirmation{% endblock %}
{% block content %}



<div class="appt">
<h1>Appointment Received</h1>
{% for appointment in appointments %}

{% if forloop.last %}
<h6>Confirmation number # 321613{{appointment.pk}}</h6>
<br/>
<h3>Thank you, {{appointment.fname}} !</h3>
<p>Your <b>{{appointment.service}}</b> session is scheduled on <b>{{appointment.date}}</b> at <b>{{appointment.time}}</b>. Please arrive 15 minutes before your appointment. If you need to reschedule, please call us at (555)-MASSAGE. See you soon!</p>

{% endif %}
{% endfor %}


<a href="/">continue browsing</a>
</div>
{% endblock %}