{% extends 'base.html' %}
{% block content %}

<h1>Leave a Review</h1>
<a class="button is-dark" href="{% url 'review_create' %}">Add Review</a>

<div>
    {% for review in reviews %}

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{review.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Service: {{review.service}}</h6>
            <p>Rating: {{review.rating}}</p>
            <p class="card-text">Comment: {{review.comment}}</p>
        </div>
      </div>
      <br/>
    {% endfor %}
</div>

{% endblock %}
