{% extends 'base.html' %}

{% block title %} Services{% endblock %}

{% block content %}

<h1>Services</h1>
<div class="card-deck"></div>
<div class="gallery d-md-flex flex-wrap ">
    {% for service in services %}
    <div class="card-deck">
    <div class=" card m-2" style="width: 18rem;">
        <img src="{{service.img}}" class="card-img-top" alt="{{service.name}}">
        <div class="card-body">
          <h5 class="card-title">{{service.name}}</h5>
          <p class="card-text">{{service.description}}</p>
              <a href="{% url 'service_detail' service.pk %}"class="btn btn-primary">Details</a>
        </div>
      </div>
    </div>
    {% endfor %}
</div>
</div>
{% endblock %}