{% extends 'base.html' %}

{% block title %} Services{% endblock %}

{% block content %}

<div class="container">
  



<h1>Services</h1>

    {% for service in services %}




    <div class="row g-0 bg-light position-relative">
      <div class="col-md-6 mb-md-0 p-md-4">
          <h5 class="fs-2 mt-0">{{service.name}}</h5>
          <p>{{service.description}}</p>
          <p class="text-end fw-semibold">{{detail.price}}</p>
          <a href="{% url 'service_detail' service.pk %}"class="btn btn-primary">Details</a>

      </div>
      <div class="col-md-6 p-4 ps-md-0">
          <img src="{{service.img}}" class="w-100" alt="{{service.name}}">
      </div>
      
  </div>
  <br>
    




    {% endfor %}
</div>
</div>

{% endblock %}

