{% extends 'base.html' %}

{% block title %} Services{% endblock %}

{% block content %}

<h1>Services</h1>
    {% for service in services %}
 

    <div class="card" style="width: 18rem;">
        <img src="{{service.img}}" class="card-img-top" alt="{{service.name}}">
        <div class="card-body">
          <h5 class="card-title">{{service.name}}</h5>
          <p class="card-text">{{service.description}}</p>
          <a href="{% url 'service_detail' service.pk %}"class="btn btn-primary">Details</a>
        </div>
      </div>

    


      <!-- <div class="row g-0 bg-light position-relative">
        <div class="col-md-6 mb-md-0 p-md-4">
          <img src="{{service.img}}" class="w-100" alt="{{service.name}}">
        </div>
        <div class="col-md-6 p-4 ps-md-0">
          <h5 class="mt-0">{{service.name}}</h5>
          <p>{{service.description}}</p>
          <a href="{% url 'service_detail' service.pk %}" class="btn btn-primary stretched-link">Details</a>
        </div>
      </div> -->
      <br>
    {% endfor %}
{% endblock %}