{% extends 'base.html' %}
{% block content %}
{% block title %} {{service.name}}{% endblock %}

<div>
    <h1>{{service.name}}</h1>
</div>

<div>
    <img src="{{service.img}}" alt="{{artist.name}}" />
</div>
<div>
    <p>{{service.description}}</p>
    <p>{{service.packagename1}} {{service.packageprice1}}</p>
    <p>{{service.packagename2}} {{service.packageprice2}}</p>
    <p>{{service.packagename3}} {{service.packageprice3}}</p>
</div>

{% for review in service.reviews.all %}
<div>
    <span>{{forloop.counter}}</span>
    <span>{{review.name}}</span>
    <span>{{review.rating}}</span>
    <span>{{review.comment}}</span>
</div>
{% empty %}
<div>
  <p>No Reviews Yet</p>  
</div>

<form action="{% url 'review_create' service.pk %}" method ="POST">
    {% csrf_token %}
    <div>
        <input
            class="input"
            type="text"
            name="name"
            placeholder="Name"
            required
        />
    </div>
    <div>
        <input
            class="input"
            type="number"
            name="Rating"
            placeholder="Rating"
            max="5"
            min="1"
            required
        />
    </div>
    <div>
        <input
            class="input"
            type="text"
            name="comment"
            placeholder="Comment"
            required
        />
    </div>
    <div>
        <input type="submit" value="Add Review" />
    </div>
</form>

{% endfor %}

{% endblock %}